@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.btn {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 12px 18px;
  color: white;
  cursor: pointer;
  background-color: #1a1b1c;
  transition: background-color 300ms ease, color 300ms ease,
    transform 150ms ease;
}
.btn:hover {
  background-color: white;
  color: black;
}
.btn:active {
  transform: scale(96%);
}

/* 

NAV

*/

#nav {
  width: 100%;
  height: 8vh;
}

.container {
  padding: 0px 32px;
}

.nav__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.nav__title--wrapper {
  display: flex;
  color: #1a1b1c;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}

.title__name {
  font-size: 14px;
  margin-right: 14px;
  cursor: pointer;
}

.title__section {
  font-size: 14px;
  opacity: 60%;
}

/*

LANDING 

*/

.landing__container {
  width: 100%;
  height: 92vh;
}

.landing__info {
  height: 734px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__title--top {
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -7px;
  line-height: 120px;
  transform: translateX(0px);
  transition: transform 0.5s 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__title--top.right {
  transform: translateX(-200px);
}
.landing__title--top.left {
  transform: translateX(200px);
}

.landing__title--bottom {
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -7px;
  line-height: 120px;
  transform: translateX(0px);
  transition: transform 0.5s 0.1s ease;
}

.landing__title--bottom.right {
  transform: translateX(-324px);
}
.landing__title--bottom.left {
  transform: translateX(324px);
}

.discoverAI__wrapper,
.take-test__wrapper {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: opacity 0.3s 0.1s ease;
  opacity: 1;
  pointer-events: auto;
}

.take-test__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.discoverAI__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.discoverAI__wrapper.hide {
  opacity: 0;
  pointer-events: none;
}

.take-test__wrapper.hide {
  opacity: 0;
  pointer-events: none;
}

.discoverAI__title,
.take-test__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
  z-index: 1;
}

.triangle__wrapper--left,
.triangle__wrapper--right {
  width: 100%;
  max-width: 1470px;
  height: 700px;
  position: absolute;
  margin-top: 200px;
}

.triangle__wrapper--left {
  display: flex;
  align-items: end;
  justify-content: start;
}

.triangle__wrapper--right {
  display: flex;
  align-items: end;
  justify-content: end;
}

.triangle__left,
.triangle__right {
  width: 444px;
  height: 444px;
  border: 2px dotted #0000009e;
  position: absolute;
  border-bottom: none;
  border-left: none;
  transition: opacity 0.3s 0.1s ease;
  opacity: 1;
}

.triangle__left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.triangle__right {
  transform: translate(50%, -50%) rotate(-135deg);
}

.triangle__left.hide {
  opacity: 0;
}

.triangle__right.hide {
  opacity: 0;
}

.left__arrow--img,
.right__arrow--img {
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 1;
  transition: all 300ms ease;
}

.left__arrow--img {
  margin-right: 12px;
}

.right__arrow--img {
  margin-left: 12px;
  rotate: 180deg;
}

.discoverAI__wrapper:hover .left__arrow--img {
  transform: scale(112%);
}

.take-test__wrapper:hover .right__arrow--img {
  transform: scale(112%);
}
.take-test__wrapper:hover .landing__title {
  transform: scale(-100px);
}

.company__description {
  width: 100%;
  max-width: 338px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: start;
  position: absolute;
  bottom: 40px;
  left: 124px;
  z-index: 1;
}

/* 

INTRO PAGE

*/

#section {
  width: 100%;
  max-width: 1400px;
  margin-top: 24px;
}

.intro__info {
  width: 100%;
  max-width: 1470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.square__wrapper {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.outer-square {
  width: 488px;
  height: 488px;
  border: 2px dotted #0000001a;
  background-color: transparent;
  opacity: 100%;
  rotate: 45deg;
  position: absolute;
  animation: square-rotation 50s linear infinite;
}

.middle-square {
  width: 444px;
  height: 444px;
  border: 2px dotted #00000039;
  background-color: transparent;
  margin-top: 20px;
  opacity: 100%;
  rotate: 45deg;
  position: absolute;
  animation: square-rotation 80s linear infinite;
}

.inner-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border: 2px dotted #0000006c;
  background-color: transparent;
  margin-top: 40px;
  opacity: 100%;
  rotate: 45deg;
  position: absolute;
  animation: square-rotation 100s linear infinite;
}

.name__input {
  width: 100%;
  max-width: 1470px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  background-color: transparent;
}

.input__wrapper {
  width: 100%;
  max-width: 1470px;
  max-width: 360px;
  text-align: center;
  background-color: transparent;
}

.input__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
  opacity: 40%;
}

.input__bar {
  width: 100%;
  max-width: 360px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 36px;
  text-align: center;
  background-color: transparent;
}

@keyframes square-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back__btn--wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
.back__btn--wrapper:hover .back__arrow--img {
  transform: scale(108%);
}

.back__arrow--img {
  width: 60px;
  height: 60px;
  transition: all 300ms ease;
}

.back__arrow--title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding-left: 14px;
  color: black;
}

/* 

CITY 

*/

.city__info {
  width: 100%;
  max-width: 1400px;
  height: 89vh;
}

.proceed__btn--wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 24px;
  cursor: pointer;
  transition: opacity 0.3s 0.3s ease;
  opacity: 1;
}

.proceed__btn--wrapper:hover .proceed__arrow--img {
  transform: scale(108%);
}

.proceed__arrow--img {
  width: 60px;
  height: 60px;
  transition: all 300ms ease;
  rotate: 180deg;
}

.proceed__arrow--title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding-right: 14px;
  color: black;
}

.loading__state {
  position: absolute;
  top: 360px;
  left: 626px;
}

.loading__state--title {
  font-size: 16px;
  font-weight: 400;
  opacity: 40%;
  line-height: 24px;
  padding-bottom: 10px;
}

.loading__dots {
  position: absolute;
  font-size: 48px;
  color: rgb(84, 84, 84);
  left: 54px;
  display: flex;
}

.left__dot {
  padding-right: 10px;
  animation: dot__animation 1s linear infinite;
}

.middle__dot {
  padding-right: 10px;
  animation: dot__animation 1s 0.2s linear infinite;
}

.right__dot {
  animation: dot__animation 1s 0.4s linear infinite;
}

@keyframes dot__animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.success__state {
  position: absolute;
  top: 380px;
  left: 546px;
}

.success__state--title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.success__state--title,
.success__state--para {
  text-align: center;
}

/* 

PICTURE PAGE

*/

.spinning__squares--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left__spinning--circle {
  position: absolute;
  left: 25%;
}
.right__spinning--circle,
.right__info {
  position: absolute;
  right: 25%;
}

.small__outer--square {
  width: 400px;
  height: 400px;
}

.small__middle--square {
  width: 356px;
  height: 356px;
}

.small__inner--square {
  width: 312px;
  height: 312px;
}

.left__circle--img {
  width: 136px;
  height: 136px;
  background-color: transparent;
}

.left__circle--title,
.right__circle--title {
  width: 130px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
}
.right__circle--title {
  margin-right: 300px;
}

.right__info--wrapper {
  height: 220px;
  display: flex;
  align-items: center;
}

.left__info,
.right__info {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.right__info {
  margin-right: 50px;
}

.right__spinning--circle {
  position: absolute;
  margin-bottom: 100px;
}

.right__circle--img {
  position: absolute;
}

.left__circle--img,
.right__circle--img {
  transition: all 300ms ease;
}

.left__circle--img:hover,
.right__circle--img:hover {
  transform: scale(106%);
}

.right__circle--title {
  margin-top: 150px;
  position: absolute;
}

.line-left {
  position: absolute;
  rotate: 180deg;
  top: 38px;
  left: 120px;
}

.line-right {
  position: absolute;
  top: 108px;
  right: 1px;
}

.right__circle--img--button {
  background-color: transparent;
  border: none;
}

.webcam__menu {
  position: absolute;
  top: 400px;
  left: 440px;
}

.menu__text {
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 24px 48px 14px;
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
  height: 100px;
}

.options {
  font-size: 10px;
  display: flex;
}

.deny__option,
.allow__option {
  width: 100%;
  height: 32px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding-top: 8px;
  cursor: pointer;
}

.deny__option {
  padding-left: 160px;
}

.allow__option {
  padding-left: 20px;
  transition: color 300ms ease;
}

/*

WEBCAM PAGE

*/

.camera {
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 1400px;
  object-fit: cover;
}

.webcam__back--btn,
.webcam__back--btn--img,
.webcam__back--btn--title {
  background-color: transparent;
  color: white;
}

.webcam__back--btn {
  padding-left: 18px;
}

.take__picture--wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 370px;
  right: 20px;
}

.take__picture--title {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
}

.take__picture--img {
  transition: all 200ms ease;
}
.take__picture--img:hover {
  transform: scale(106%);
}
.take__picture--img:active {
  transform: scale(100%);
}

.after__pic {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: 660px;
}

.picture__tips {
  display: flex;
  position: absolute;
  bottom: 48px;
  left: 450px;
}

.tips__title {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 88px;
  left: 510px;
}

.expression__tip,
.pose__tip,
.lighting__tip {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 24px;
  color: white;
}

.diamond {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  margin-right: 8px;
  rotate: 45deg;
}

.webcam__proceed--arrow--title {
  color: white;
}

.results {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.results.hasPhoto {
  overflow: hidden;
}

.results__box {
  position: absolute;
  bottom: 100px;
  left: 600px;
}

.results__question {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 8px;
  letter-spacing: 0.2px;
}

.results__options {
  text-align: center;
}

.results__yes,
.results__retake {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  margin-right: 14px;
  transition: all 300ms ease;
}

.results__yes:hover,
.results__retake:hover {
  background-color: white;
  color: black;
}

.webcam__loading--state {
  position: absolute;
  top: 300px;
  left: 500px;
  border: 4px solid white;
  z-index: 999;
}

.loading__img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 290px;
  left: 616px;
}

.loading__img--title {
  font-size: 20px;
  position: absolute;
  top: 480px;
  left: 620px;
}

/* 

ANALYSIS PAGE

*/

#analysis__nav {
  margin: 10px 0 40px 0;
}

.analysis__section--title {
  margin-bottom: 2px;
}

.section__sub-title {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.stationary__outer-square,
.stationary__middle-square,
.stationary__inner-square {
  animation: none;
}

.stationary__inner-square {
  padding: 40px;
}

.box__container {
  width: 100%;
  max-width: 1470px;
  height: 840px;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: center;
}

.box__wrapper {
  width: 360px;
  height: 360px;
  border: none;
  rotate: 45deg;
}

.demographic__box,
.skin-type__box,
.weather__box,
.cosmetic__concerns--box {
  border: none;
  background-color: rgb(239, 239, 239);
  transition: all 300ms ease;
}

.demographic__box {
  width: 176px;
  height: 176px;
  margin-bottom: 4px;
  cursor: pointer;
}

.skin-type__box {
  width: 176px;
  height: 176px;
  cursor: not-allowed;
}

.weather__box {
  width: 176px;
  height: 176px;
  position: absolute;
  right: 4px;
  top: 180px;
  cursor: not-allowed;
}

.cosmetic__concerns--box {
  width: 176px;
  height: 176px;
  position: absolute;
  right: 4px;
  top: 0px;
  cursor: not-allowed;
}

.demographic__box:hover,
.skin-type__box:hover,
.weather__box:hover,
.cosmetic__concerns--box:hover {
  background-color: rgb(204, 204, 204);
}

.demographic__title,
.skin-type__title,
.weather__title,
.cosmetic__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  rotate: -45deg;
  line-height: 20px;
}

.demographic__title {
  padding: 70px 58px 0 0;
}

.skin-type__title {
  width: 100%;
  max-width: 150px;
  text-align: center;
  padding: 74px 26px 0 0;
}

.weather__title {
  padding: 70px 60px 0 0;
}

.cosmetic__title {
  text-align: center;
  padding: 60px 52px 0 0;
}

/*

DEMOGRAPHICS PAGE

*/

.demo__nav {
  margin-bottom: 80px;
}

.section__large--title {
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: -4px;
  margin-bottom: 4px;
}

.demo__info {
  display: flex;
}

.category__boxes {
  width: 100%;
  max-width: 156px;
  height: 96px;
  margin: 0 20px 10px 0;
  transition: all 220ms ease;
}

.category__titles {
  width: 100%;
  max-width: 160px;
  height: 90px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 16px;
  margin-bottom: 20px;
  border-top: 1px solid black;
  background-color: #f6f3f4;
}

.bg-black {
  background-color: black;
  transition: all 400ms ease;
}

.text-white {
  color: white;
}

.specific__category--titles {
  margin-bottom: 10px;
}

.analysis__box {
  width: 100%;
  max-width: 900px;
  height: 430px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #f6f3f4;
  padding: 16px;
  margin-right: 18px;
}

.analysis__box--title {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.races__box {
  width: 100%;
  max-width: 380px;
  height: 500px;
  border-top: 1px solid black;
  background-color: #f6f3f4d4;
}

.races__titles {
  display: flex;
  justify-content: space-between;
}

.main__title,
.secondary__title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 16px 12px 0 12px;
}

.race__percentage--slots {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  height: 50px;
  border: none;
  padding-left: 18px;
  transition: all 220ms ease;
}

.race__percentages {
  display: flex;
  align-items: center;
}

.race__percentage--title,
.percentages {
  font-size: 16px;
  font-weight: 300;
}

.percentages {
  position: absolute;
  right: 114px;
}

.black__diamond {
  width: 8px;
  height: 8px;
  border: 2px black solid;
  transition: all 220ms ease;
  rotate: 45deg;
  margin-right: 8px;
}

.progress__bar {
  width: 360px;
  height: 360px;
  font-size: 100px;
  margin-top: 32px;
}

.ages__box {
  height: 498px;
}

.age__percentage--titles {
  font-size: 14px;
  font-weight: 500;
}

.absolute {
  font-size: 40px;
  position: absolute;
  top: 500px;
  left: 740px;
}

.transform {
  rotate: -90deg;
}
