@media (width: 1920px) {

}
@media (max-width: 1220px) {
  .landing__title--top,
  .landing__title--bottom {
    font-size: 100px;
    line-height: 98px;
  }
  .font-semibold {
    position: absolute;
    left: -174px;
  }
  .analysis__box--title {
    font-size: 30px;
  }
} 
@media (max-width: 1100px) {
  .landing__title--top,
  .landing__title--bottom {
    font-size: 90px;
  }
  .triangle__left,
  .triangle__right {
    width: 380px;
    height: 380px;
  }
  .triangle__wrapper--left,
  .triangle__wrapper--right {
    margin: 0;
  }
  .discoverAI__wrapper,
  .take-test__wrapper {
    margin-bottom: 46px;
  }
  .demo__info {
    display: flex;
    flex-direction: column;
  }
  .category__boxes {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
  }
  .category__titles {
    padding-right: 78px;
    margin-right: 12px;
  }
  .analysis__box {
    width: 100%;
    max-width: 1100px;
  }
  .analysis__box {
    margin-bottom: 18px;
  }
  .back__btn--wrapper {
    position: absolute;
    bottom: -650px;
  }
  .font-semibold {
    position: absolute;
    left: 110px;
    top: 100px;
  }
}
@media (max-width: 975px) {
  .landing__title--top,
  .landing__title--bottom {
    font-size: 72px;
    line-height: 68px;
  }
  .font-semibold {
    position: absolute;
    left: -22px;
    top: 100px;
  }
}
@media (max-width: 880px) {
  .triangle__left,
  .triangle__right {
    width: 340px;
    height: 340px;
  }
  .discoverAI__wrapper,
  .take-test__wrapper {
    margin: 0;
  }
  .stationary__outer-square,
  .stationary__middle-square {
    display: none;
  }
  .font-semibold {
    position: absolute;
    left: -110px;
    top: 100px;
  }
}
@media (max-width: 779px) {
  .triangle__left,
  .triangle__right {
    display: none;
  }
  .back__arrow--img,
  .proceed__arrow--img {
    width: 48px;
    height: 48px;
  }
  .back__arrow--title,
  .proceed__arrow--title {
    font-size: 12px;
  }
  .stationary__inner-square {
    display: none;
  }
  .section__sub-title {
    font-size: 12px;
  }
  .font-semibold {
    position: absolute;
    left: -220px;
    top: 100px;
  }
}
@media (max-width: 612px) {
  .landing__title--top,
  .landing__title--bottom {
    font-size: 50px;
    line-height: 48px;
    letter-spacing: -3px;
  }
  .discoverAI__title,
  .take-test__title {
    font-size: 12px;
  }
  .right__arrow--img,
  .left__arrow--img {
    width: 40px;
    height: 40px;
  }
  .square__wrapper {
    display: none;
  }
  .box__container {
    margin-top: 60px;
  }
  circle {
    display: none;
  }
  .font-semibold {
    display: block;
    position: absolute;
    left: -380px;
  }
}
@media (max-width: 500px) {
  .skin-type__box,
  .weather__box,
  .cosmetic__concerns--box {
    display: none;
  }
  .box__container {
    margin-top: 300px;
  }
  .font-semibold {
    position: absolute;
    left: -500px;
    top: 100px;
  }
}
@media (max-width: 440px) {
  .landing__title--top,
  .landing__title--bottom {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -3px;
  }
  .discoverAI__title,
  .take-test__title {
    font-size: 10px;
  }
  .right__arrow--img,
  .left__arrow--img {
    width: 20px;
    height: 20px;
  }
  .input__title {
    font-size: 12px;
  }
  .input__bar {
    font-size: 26px;
    max-width: 260px;
  }
  .back__arrow--img,
  .proceed__arrow--img {
    width: 40px;
    height: 40px;
  }
  .back__arrow--title,
  .proceed__arrow--title {
    font-size: 10px;
  }
  .right__circle--img,
  .left__circle--img {
    width: 120px;
    height: 120px;
  }
  .category__titles {
    padding: 30px;
  }
}
